/*Variables*/
:root{
   --bg-container: #F3F1F5;
   --color-titles: #001E6C;
   --bg-titles: #C9CCD5;
   --color-span: #035397;
}

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.container{
   width: 800px;
   margin: 30px auto;
   padding: 15px 20px;
   background: var(--bg-container);
}

.principal{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: row-reverse;
}

.title{
   font-size: 22px;
}

.name{
   font-size: 40px;
}

.avatar{
   display: flex;
   justify-content: center;
   margin: 20px;
}

.avatar img{
   width: 100px;
   border: 1px solid var(--bg-titles);
   border-radius: 50%
}

.datos__title{
   color: var(--color-titles);
   font-weight: 600;
   font-size: 18px;
   text-align: center;
   background: var(--bg-titles);
   margin: 15px 0;
}

.datos__ul{
   background: #E4D8DC;
   padding: 15px;
}

.datos__li{
   list-style: none;
   padding: 2px 0;
   font-size: 18px;
}

.span__li{
   color: var(--color-span);
   font-weight: 600;
}


